$primary-color: #e7816b;
$primary-color-dark: #1d1c1e;
$primary-color-light: #ffffff;
$secondary-color: #ffad9b;
$secondary-color-dark: #333136;
$secondary-color-light: #f1f3f5;
$font-size-h1: 48px;
$font-size-h2: 40px;
$font-size-h1-mobile: 32px;
$font-size-h3: 20px;
$font-size-body: 16px;
$font-size-s: 15px;
$spacing-es: 1px;
$spacing-sm: 2px;
$spacing-m: 5px;
$line-height-lg: 48px;
$line-height-md: 26px;
$line-height-sm: 20px;
$font-weight-medium: 550;
$font-weight-normal: 400;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$cursor: pointer;
$overflow: hidden;
$transform: uppercase;
$size-1: 1rem;
$size-2: 2rem;
$size-1h: 1.5rem;
$size-15: 15px;
$size-14: 14px;
$size-13: 13px;
$size-12: 12px;
$size-11: 11px;
$size-10: 10px;
$position-rel: relative;
$position-absolute: absolute;
$margin-top: 80px;
